.mw_tts_register {

  .mw_content {
    padding: 10px;
    // background-color: $dark_grey;
    overflow: hidden;
  }

  .mw_special_needs {
    border: 1px solid #494949;
    padding: 5px;
    margin: 10px 0px;
    font-size: 12px;
    color: #494949;
  }

  .mw_form_row {
    overflow: hidden;
    margin: 5px 0px;

    .mw_label {
      vertical-align: middle;
      width: 30%;
      display: inline-block;
    }

    .mw_input {
      vertical-align: middle;
      padding-left: 5px;
      width: 67%;
      display: inline-block;
    }

    textarea {
      height: 65px;
      width: 97%;
      margin: 5px 0px;
      @include border-radius(3px);
    }
  }

  .mw_radio_labels {
    display: inline;
    padding-left: 2px;
    padding-right: 5px;
  }

  .mw_side_note {
    font-size: 11px;
    color: $dark_red;
    text-align: right;
    display: block;
    line-height: 1.25em;
    max-width: 75%;
    float: right;
  }

  .mw_presubmit {
    margin-top: 10px;
    font-size: 11px;
    color: $dark_grey;
    text-align: center;
    display: block;
    line-height: 1.25em;
  }
}